{% extends "/CmatrixWeb/templates/adminCommon.twig" %}

{% block main %}
    {% import "/CmatrixWeb/templates/lib/tree.twig" as _tree %}
    {% import "/CmatrixWeb/templates/lib/table.twig" as _table %}
    
    {{ parent() }}
    
    <div class="container mx-auto">
        {% for i in data %}
            <div class="bg-gray-200 m-2 rounded overflow-hidden">
                
                <div class="bg-gray-400 text-white font-bold flex">
                    <div class="pl-2 flex"><span class="my-auto">{{ i.module.name }}{% if i.module.baloon %} - {{ i.module.baloon }}{% endif %}</span></div>
                    <a class="ml-auto" href="{{ page.url }}/add/module{{ i.module.code }}">
                        <i class="wi-add my-auto fas fa-plus p-2 hover:bg-gray-500 cursor-pointer"></i>
                    </a>
                    <a class="" href="{{ page.url }}/setup/module{{ i.module.code }}">
                        <i class="my-auto fas fa-cog p-2 hover:bg-gray-500 cursor-pointer"></i>
                    </a>
                </div>
                
                {% for datamodel in i.datamodels %}
                    <div class="flex hover:bg-gray-300">
                        <a class="w-full pl-2 cursor-pointer flex" href="{{ url.home }}/entity{{ datamodel.code }}" {#onclick="event.preventDefault()"#}>
                            <span class="my-auto">{{ datamodel.name }}{% if datamodel.baloon %} - {{ datamodel.baloon }}{% endif %}</span>
                        </a>
                        <a class="mx-0 my-auto text-gray-500 hover:text-white hover:bg-green-500" href="{{ url.home }}/entity{{ datamodel.code }}/setup" {#onclick="event.preventDefault()"#}>
                            <i class="fas fa-cog p-2"></i>
                        </a>
                    </div>
                    
                    {#<div class="pl-2 hover:bg-gray-300 cursor-pointer flex">
                        <span class="my-auto">{{ datamodel.name }}{% if datamodel.baloon %} - {{ datamodel.baloon }}{% endif %}</span>
                        <i class="wi-setup ml-auto my-auto text-gray-500 fas fa-cog p-2 hover:text-white hover:bg-green-500"></i>
                    </div>#}
                {% endfor %}
                
            </div>
        {% endfor %}
        
        {#
        <div id="wi-menu" class="fixed top-10 bottom-6 overflow-y-auto bg-gray-200 cursor-pointer flex-shrink-0">
            {{ _tree.tree(tree) }}
        </div>
        #}
        
        {# --- левое меню --- #}
        {#
        <ul id="wi-ad-menu" class="cm-menu fixed left-0 top-10 bottom-6 overflow-y-auto bg-gray-200 cursor-pointer flex-shrink-0">
            <li class="cm-menu-item flex"><a class="cm-no-click w-full px-2 md:px-4 py-2 hover:bg-gray-300" href="{{ url.dictionaries }}"><i class="text-gray-700 w-7 fab fa-elementor"></i><span>Справочники</span></a></li>
            <li class="cm-menu-item flex"><a class="cm-no-click w-full px-2 md:px-4 py-2 hover:bg-gray-300" href="{{ url.tables }}"><i class="text-gray-700 w-7 fas fa-table"></i><span>Таблицы</span></a></li>
            <li class="cm-menu-item flex"><a class="cm-no-click w-full px-2 md:px-4 py-2 hover:bg-gray-300" href="{{ url.messages }}"><i class="text-gray-700 w-7 far fa-comments"></i><span>Сообщения</span></a></li>
            <li class="cm-h-devider text-gray-400"></li>
            <li class="cm-menu-item flex" title="Настройки системы"><a class="cm-no-click w-full px-2 md:px-4 py-2 hover:bg-gray-300" href="{{ url.setup }}"><i class="text-gray-700 w-7 fas fa-cogs"></i><span>Настройки</span></a></li>
        </ul>
        #}
        
        {#<div id="wi-table" class="w-full h-full flex-shrink-0 flex flex-col">
            {{ _table.table() }}
        </div>#}
    </div>
    
    
{% endblock %}