{#
    Общая форма с логинкой
#}
{% extends "/CmatrixWeb/templates/common.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="res/CmatrixWeb/commonLogin.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/CmatrixWeb/commonLogin.js"></script>
{% endblock %}

{% block actions %}
    {% if session.enable %}
        <a id="wi-session"
            class="cm-hover flex ml-2 cursor-pointer" 
            href="{{ url.login }}"
            onclick="event.preventDefault()"
            target="{% if session.user.code == 'guest' %}#cm-login{% else %}#cm-session{% endif %}"
        >
            <span class="cm-name my-auto mr-2">{{ session.user.name }}</span>
            <i class="text-3xl my-auto mr-2 fas fa-user-circle"></i>
            {% if session.user.code != 'guest'%}<i id="wi-caret-session" class="my-auto mr-2 fas fa-caret-left"></i>{% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block popup %}
    {{ parent() }}
    
    {% if session.user.code == 'guest' %}
        <div class="cm-back _cm-win-container cm-behind cm-noselect flex z-40 bg-gray-800 bg-opacity-50">
            <form id="wi-login" class="relative rounded mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90 shadow-2xl" method="post" action="{{ url.post }}">
                <span class="cm-a-close cm-hover absolute p-3 top-0 right-0 cursor-pointer"><i class="text-white fas fa-times"></i></span>
                
                <span class="text-white font-bold absolute top-0 mt-4 text-xl">Представтесь, пожалуйста</span>
                
                <input name="m" type="hidden" value="li"/>
                
                <input class="px-3 py-1 w-52 sm:w-72 mt-11 sm:mt-5" type="text" name="u" placeholder="Логин" required="required" maxlength="10"
                    {#oninvalid="this.setCustomValidity('обязательное поле')" oninput="this.setCustomValidity('')"#}
                />
                <span class="cm-err mb-3 h-4 text-red-600 text-sm"></span>
                
                <input class="px-3 py-1 w-52 sm:w-72" type="password" name="p" placeholder="Пароль" required="required"
                    {#oninvalid="this.setCustomValidity('обязательное поле')" oninput="this.setCustomValidity('')"#}
                />
                <span class="cm-err mb-2 h-4 text-red-600 text-sm"></span>
                
                <button type="button" class="cm-a-submit rounded mb-1 cm-hover mt-1 w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Войти</button>
            </from>
        </div>
    {% else %}
        <div class="cm-back cm-menu-container cm-behind cm-noselect flex z-40 bg-gray-800 bg-opacity-50">
            <div class="container flex mx-auto">
                <div class="ml-auto mt-10 mb-6 overflow-y-auto">
                    <ul id="wi-menu-session" class="cm-menu bg-gray-200 cursor-pointer">
                        <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.profile }}"><i class="text-gray-700 w-7 far fa-user"></i><span>Профиль</span></a></li>
                        <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.session }}"><i class="text-gray-700 w-7 far fa-paper-plane"></i><span>Сеанс</span></a></li>
                        <li class="cm-h-devider text-gray-400"></li>
                        <li class="cm-menu-item flex"><a class="w-full p-2 hover:bg-gray-300" href="{{ url.admin }}"><i class="text-gray-700 w-7 far fa-desktop"></i><span>Admin`ка</span></a></li>
                        <li class="cm-h-devider text-gray-400"></li>
                        <li class="cm-menu-item wi-logout flex"><a class="w-full p-2 hover:bg-gray-300"><i class="text-gray-700 w-7 far fa-sign-out-alt"></i><span>Завершение сеанса</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="cm-back cm-win-container cm-behind cm-noselect flex z-40 bg-gray-800 bg-opacity-50">
            <form id="wi-logout" class="relative rounded mx-auto my-auto flex flex-col pt-10 pb-3 px-8 sm:px-12 bg-blue-400 bg-opacity-90" method="post" action="{{ url.post }}">
                <input name="m" type="hidden" value="lo"/>
                <span class="text-white _font-bold _absolute w-52 sm:w-72 _top-0 -mt-4 text-xl">Действительно завершить сеанс?</span>
                <div class="flex mt-5 mb-2">
                    <button type="button" class="cm-a-submit cm-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Да</button>
                    <button type="button" class="cm-a-close cm-hover rounded w-20 mx-auto px-3 py-1.5 text-white bg-red-500">Нет</button>
                </div>
            </form>
        </div>
    {% endif %}
    
{% endblock %}